*.psd
ref/ref source/chat-psd.zip
*.txt
psd/color themes/001 Register Screen.jpg
*.jpg
ref/ideas/attachment.png
*.png
ref/ideas/preview.gif
*.jpeg
ref/ref source/chat-psd/fonts.zip
*.ttf
ref/ref source/sepia_ui_kit/sepia_licence.pdf
*.zip
*.DS_Store
ref/ideas/preview